/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
}

/* html {
    background-color: lightgrey;
}

body {
    background-color: white;
} */

.wrap-all {
    width: 800px;
    margin: 0 auto;
}

.region-header-col-1 {
    display: none;
}
/* Style the footer */
.outer-wrap-footer {
    background-color: grey;
    padding-top: 24px;
    padding-bottom: 48px;
}

.inner-wrap {
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;

}

.region-footer {
    display: inline;
    float: left;
    width: 100%;
    padding: 5px;
}

.footer-column-wrapper {
    border-bottom: 1px solid black;
    padding-bottom: 24px;
    margin-bottom: 48px;
}

.footer-column {
    height: 100%;
}

.footer-column-x {
    padding-bottom: 24px;
    padding-right: 1em;
}

.row {
    display: block;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}
